<div class="containerLogins">
  <ion-button class="logoIcon" (click)="true" color="warning" size="large" fill="clear">
    <ion-icon slot="icon-only" name="logo-google"></ion-icon>
  </ion-button>
  <ion-button class="logoIcon" (click)="true" color="primary" size="large" fill="clear">
    <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
  </ion-button>
  <ion-button class="logoIcon" (click)="true" color="dark" size="large" fill="clear">
    <ion-icon slot="icon-only" name="logo-apple"></ion-icon>
  </ion-button>
  <ion-button class="logoIcon" (click)="true" color="dark" size="large" fill="clear">
    <ion-icon slot="icon-only" name="logo-microsoft"></ion-icon>
  </ion-button>
  <ion-button class="logoIcon" (click)="true" color="success" size="large" fill="clear">
    <ion-icon slot="icon-only" name="logo-google-playstore"></ion-icon>
  </ion-button>
</div>
