<ion-content [fullscreen]="true">
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="home" size="large"></ion-icon>
      <!-- <ion-icon [name]="selected ? 'home' : 'home-outline'" size="large"></ion-icon> -->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle" size="large"></ion-icon>
      <!-- <ion-icon [name]="selected ? 'person-circle-outline' : 'person-circle'" size="large"></ion-icon> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
