<ion-content>
  <div class="bgra">
    <ion-grid>
      <ion-row>
        <ion-col size="6" sizeXs="12" sizeSm="6" sizeLg="6" sizeMd="6" offset="3" offsetXs="0" offsetSm="3">
          <ion-card>
            <img src="../../../assets/NEOGRAM LOGO.png" alt="Logo NEOGRAM" oncontextmenu="return false;" ondragstart="return false;">
            <ion-card-header>
              <ion-card-title>{{title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <router-outlet></router-outlet>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
